* {
  box-sizing: border-box;
}
input,
button {
  font-family: inherit;
  line-height: inherit;
}
input,
textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
  background-color: #fff;
}

button {
  align-self: flex-start;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
}
